<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @user.companyName %>
</p>

<p>
  <strong>Companyaddress:</strong>
  <%= @user.companyAddress %>
</p>

<p>
  <strong>Adresschipping:</strong>
  <%= @user.adressChipping %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Taxi:</strong>
  <%= @user.taxi %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
