<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  </head>
  <body>
    <%= yield %>



    <section class="index">
      <nav class="navbar navbar-expand-lg navbar-light  index_nav1">
        <a class="navbar-brand" href="#"> <%= image_tag("white_logo.png")%> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
            <div class="vertical">|</div>
            <li class="nav-item">
              <a class="nav-link" href="#"><%= image_tag("user_nav.png")%></a>
            </li>

          </ul>
        </div>
      </nav>

      <nav class="navbar navbar-expand-lg navbar-light  second_nav">

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link " href="#">Bar </a>
            <a class="nav-item nav-link" href="#">Houseware/Hardware Retail</a>
            <a class="nav-item nav-link" href="#">Cafeters</a>
            <a class="nav-item nav-link" href="#">Restaurants</a>
            <a class="nav-item nav-link" href="#">Gift Store</a>
            <a class="nav-item nav-link" href="#">Bakery</a>
            <a class="nav-item nav-link" href="#">Event Planners</a>
            <a class="nav-item nav-link" href="#">In order of catalog</a>
          </div>
        </div>
      </nav>




      <div class="section_product">
        <div class="container">
          <div class="row">
            <% @products.each do |product| %>
            <div class="col-3">
              <div class="product_container">
                <div class="header_product">
                  <p class="sku"><%= product.sku %></p>
                  <button type="button" name="button">BUY 12 SAVE 20%</button>
                </div>
                <div class="product_image">
                  <%= image_tag(product.design)%>
                </div>
                <div class="bottom_section">
                  <div class="description">
                    <p class="text_desc"><%= product.description %></p>
                    <p class="size"><%= product.size %>, Color, PC</p>
                  </div>
                  <div class="price">
                    <h1>$<%= product.price %></h1>
                    <%= link_to 'QUICK VIEW'%>
                  </div>
                  <div class="product_status">
                    <p> <span>Out of stock!</span>  Coming on March</p>
                  </div>
                  <div class="product_request">

                    <input placeholder="Enter a number" required type="number" value="" min="-100" max="100"/>

                    <%= button_to "Add to cart", line_items_path(:product_id => product.id)%>
                  </div>
                  <div class="view_more">
                    <%= link_to 'More info'%>
                  </div>
                </div>
              </div>
            </div>

            <!-- <tr>
              <td><%= link_to 'Show', product %></td>
              <td><%= link_to 'Edit', edit_product_path(product) %></td>
              <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr> -->

              <% end %>
          </div>
        </div>
      </div>








      <%= link_to 'New Product', new_product_path %>


      <%= link_to( destroy_user_session_path, method: :delete, class: "nav_log_link") do %>
        <button type="button" name="button">Logout</button>
      <% end %>
    </section>


    <script src="js/bootstrap-input-spinner.js"></script>
    <p id="notice"><%= notice %></p>

  </body>
</html>
