<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Upc:</strong>
  <%= @product.upc %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Design:</strong>
  <%= @product.design %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Pack:</strong>
  <%= @product.pack %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<br>

<br>   


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
